@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


li{
    list-style-type: none;
    flex-shrink: 1;
}

ul{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    align-items: center;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 15%;
}

.header-links {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 15%;
}

.header,
.section.one {
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    color: white;
    justify-content: space-between;
    gap: 10px;
}

.content {
    flex: 1;
}

.section.one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
}

.web-description {
    margin-left: 15%;
    width: 450px;
}

.web-image {
    margin-right: 15%;
    height: 300px;
    object-fit: cover;
    flex-grow: 1;
}

.web-title {
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
}

.web-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-sign {
    background-color: #3882f6;
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 10px;
}

.section-two-text {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    margin: 60px;
}

.information-image {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.container-section-two {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 150px;
}

.cont{
    max-width: 200px;
}

.subtext {
    display: flex;
    justify-content: center;
    text-align: center;
}